# Resumo

# Introdução

Um dos maiores problemas do Covid 19 é sua alta transmissibilidade, este fator alinhado com uma população grande e uma taxa de internação de [20% dos infectados](https://summitsaude.estadao.com.br/novos-medicos/covid-19-quais-sao-os-criterios-para-internacao-em-uma-uti/), tem-se uma receita capaz de congestionar os leitos dos hospitais, conforme aconteceu na [Itália em março de 2020](https://www.bbc.com/portuguese/internacional-51968491) e em [Manaus(AM)em abril de 2020](https://g1.globo.com/jornal-nacional/noticia/2020/04/06/capacidade-dos-leitos-na-rede-publica-de-manaus-chega-ao-limite-diz-prefeito.ghtml).  
Tendo em vista esse cenário, uma ferramenta que pudesse prever, logo que um paciente chega, se ele irá precisar de um leito de UTI ou não.  
O trabalho aqui se dispoe a apresentar um modelo de machine learning que receba os dados iniciais do paciente quando o mesmo chega ao hospital e tente prever se o mesmo irá precisar de um leito ou não.

## Objetivo:  

Prever quais pacientes precisarão ser admitidos na unidade de terapia intensiva e assim, definir qual a necessidade de leitos de UTI do hospital, a partir dos dados clínicos individuais disponíveis.

In [2]:
#

# Tratamento dos Dados

### Importando os Dados:

In [3]:
import pandas as pd

data_path = "https://github.com/Igor-Arantes/Previsao-Internacao-Covid/raw/master/Dados/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true"

raw_data = pd.read_excel(data_path)

In [4]:
raw_data.head(5)

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

### Verificando a base de dados

In [13]:
print(raw_data.info())
print(raw_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB
None
       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1925.000000  ...  1925.000000
mean                 192.000000  ...     0.267532
std                  111.168431  ...     0.442787
min                    0.000000  ...     0.000000
25%                   96.000000  ...     0.000000
50%                  192.000000  ...     0.000000
75%                  288.000000  ...     1.000000
max                  384.000000  ...     1.000000

[8 rows x 229 columns]

In [7]:
raw_data.sample(5)

      PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
1381                       276            0  ...       2-4    0
1379                       275            1  ...  ABOVE_12    1
595                        119            0  ...       0-2    0
670                        134            1  ...       0-2    0
411                         82            1  ...       2-4    1

[5 rows x 231 columns]

In [12]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB

#### Separando os dados categoricos, continuos e resultados:

In [14]:
categorical_data = raw_data.iloc[:, :13]
results = raw_data.iloc[:, -2:]
continuous_data_columns = raw_data.iloc[:, 13:-2].columns
continuous_data = raw_data.groupby("PATIENT_VISIT_IDENTIFIER", as_index=False)[continuous_data_columns]

In [15]:
continuous_data.sample(5)

      PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                            0            1  ...       0-2    0
1                            0            1  ...       2-4    0
2                            0            1  ...       4-6    0
4                            0            1  ...  ABOVE_12    1
3                            0            1  ...      6-12    0
...                        ...          ...  ...       ...  ...
1922                       384            0  ...       4-6    0
1921                       384            0  ...       2-4    0
1924                       384            0  ...  ABOVE_12    0
1920                       384            0  ...       0-2    0
1923                       384            0  ...      6-12    0

[1925 rows x 231 columns]

#### Preenchendo os dados continuos faltantes:  
Dados são preenchidos com base no valor a jusante caso não tenha é utilizado os valores a montante.

In [21]:
continuous_data.fillna(method='bfill', inplace=True)
continuous_data.fillna(method='ffill', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

Empty DataFrame
Columns: []
Index: []

# Machine Learning

# Analise dos Resultados

#Conclusão